@page
@model ASP.NETCoreWebAppTest.Pages.HistoryModel
@{
}

<section class="about-us">

    <div class="row">
        <div class="about-col">
            <h1> History of the Church’s Formation </h1>
            <p>
                St Georges Anglican church is now over 100 years old. It has taken a few names and shapes in its time and is an integral part of Papatoetoe’s history.

                54 years after the Presbyterian Church was established in Papatoetoe, the Anglican Church established a permanent presence in St. George Street and thus begins the full story of what is now called ‘The Church of St. George the Martyr’.

                The first Anglican Church building on the present site was dedicated on the 13th August 1922. This is now the Church Office and Counselling rooms..
            </p>
        </div>
        <div class="about-col">
            <img src="images/history/history_originalbuilding.png" />
            <p>Original Church building 1928 – Photo by James D Richardson</p>
        </div>
    </div>


    <div class="row">
        <div class="about-col">

            <p>
                Our aim at St George’s is to be a church that is welcoming to all ages and cultural groups and to be a place were people can grow in their relationship with God.
                St George’s is situated in the multicultural area of Papatoetoe of Manukau City (South Auckland).
                We are a church that is made up of many diverse multicultural groups and it is our aim to make people from all cultural backgrounds welcome.
                At St George’s we have a variety of services and styles of worship, and a wide range of fellowship, study and caring groups. Find out more about our services an ministries.
            </p>

        </div>
        <div class="about-col">
            <img src="images/history/history_churchinterior.png" />
            <p>Church interior 1928 – Photo by James D Richardson</p>
        </div>
    </div>


    <div class="row">
        <div class="about-col">
            <p>
                In 1959, Sunday 20 September, a procession was made to the spot selected for the laying of the Foundation stone.
                Some 400 parishioners were assembled on the grass and the procession was led by Ron Amodeo. The building – the present church – was completed in 1961.
            </p>

        </div>
        <div class="about-col">
            <img src="images/history/history_churchtoday.png" />
            <p>Church buildings 2012 – Photo by Margaret A Bremner</p>
        </div>
    </div>


    <div class="row">
        <div class="about-col">
            <h3>History of the Anglican Church in Papatoetoe</h3>
            <p>
                The name for the area was Papatoitoi (spelling later changed to Papatoetoe) meaning ‘undulating area where the toitoi grew’.
                <br />
                <br />
                Maori settled in the area during the 13th century at strategic locations on the shores of the Manukau Harbour.
                <br />
                <br />
                William Thomas Fairburn, a lay catechist of the Church Missionary Society, established a mission station at Maretai in 1836. In order to keep the peace amongst the Maori living in the region, William acquired an area of about 40,000 acres from Tuiri of Ngati Tawhaki, Herua of Urikaraka and Hauauru of Matekiwaho, being a block of land extending from the Wairoa River to the Tamaki River and stretching as far south as Papakura. It was known as ‘Tamaki Block’, but also later referred to as the ‘Fairburn Block’.
                <br />
                <br />
                In 1837 William undertook to return approximately one third of the land to Ngati Paoa, Ngati Tamatera, Ngati Terau, Te Akiti and Ngati Whanaunga.
                <br />
                <br />
                In 1840 he made a further offer to hand over another third to the Church Missionary Society.
                <br />
                <br />
                On 18 September 1842 Auckland was declared the capital of New Zealand, European settlement began in Howick and Otahuhu in the 1840s but the Papatoetoe area remained comparatively untouched.
                <br />
                <br />
                On 27 August 1854 the Reverend John Macky held his first service in the storage shed by Bairds Wharf on the banks of the Tamaki River. In 1855 Thomas Baird gifted some land for a church to be built. This church was located where St. John’s Presbyterian Church stands beside Great South Road near Hunters Corner in Papatoetoe today.
                <br />
                <br />
                This church was known as the ‘Otahuhu Charge’. It covered not only Otahuhu, Howick and Panmure but also Mangere, Otara, Papatoetoe, East Tamaki and Flat Bush.
                <br />
                <br />
                In 1885, Papatoetoe belonged to the Parochial District of Otahuhu, when it was reported to the Synod to include Papatoetoe in its boundaries.
                <br />
                <br />
                By 1906 there was a community of Anglican families worshipping in a local state school building (the old Papatoetoe Central school building).
                <br />
                <br />
                In 1910, when the parish split up, it became St. Johns Presbyterian Church, Papatoetoe.
                <br />
                <br />
                The Friedlander brothers purchased the Paton block in St. George Street and reserved a quarter acre for an Anglican Church. The parishioners purchased an adjoining quarter acre, and a Church Hall was built by Mr Butterworth in 1911/1912.
                <br />
                <br />
                54 years later after the Presbyterian Church established in Papatoetoe, the Anglican Church established a permanent presence in St George Street.
                <br />
                <br />
            </p>



        </div>
    </div>


    <!--St george the martyr-->
    <div class="row">
        <div class="about-col">
            <h3>St George the Martyr</h3>

            <p>
                St George was born about 170 A.D. at Lydda about 16 kms inland from the important seaport of Joppa, now Jaffa near Tel Aviv.
                <br />
                <br />
                Very little is known about his life, but it is said that he served as a soldier in the Roman army during 245-313 A.D. The Emperor Diocletion sent a proclamation throughout the Roman Empire in 303 A.D. commanding that the Christian churches be demolished and Christian books be burned.
                <br />
                <br />
                Saint George, the son of Christian parents, tore down the Emperor’s proclamation of the persecution. For this he was tortured and on 23 April finally martyred for his faith.
                <br />
                <br />
                The stories of St. George fighting a dragon are purely fictitious.
                <br />
                <br />
                St George the Martyr has always been held in very high respect by the Eastern Orthodox Churches and he is one of the supreme saints of the Greek Orthodox Church.
                <br />
                <br />
                During the crusades in about 1100 A.D. Kind Richard the Lion Heart of England proclaimed St. George as the patron of the Crusade and after his success St. George became a popular saint of the English, later becoming the patron Saint of the Order of the Garter by King Edward III in 1349.
                <br />
                <br />
                The famous flag of St. George, the red cross on a white background, is still used as part of the Union Jack, as the white ensign of the British navy, and in the flag flown from many Anglican churches on chief Holy days.
                <br />
                <br />

            </p>

        </div>

        <div class="about-col">
            <img src="images/history/history_stgeorgewindow.png" />
        </div>
    </div>


</section>
