@page
@model ASP.NETCoreWebAppTest.Pages.ServicesModel
@{
}

<section>
    <section class="service">

        <h1> Church Services</h1>
        <p>
            Do you want to learn about the Bible and what it means to be a disciple? Then this might be the church for you.
            We are not the largest church. We won’t promise you health, wealth and success. We don’t have a lot of wonderful programs that will keep you entertained.
            But if you want something a little deeper and appreciate biblical preaching then this might be the church for you.
        </p>

        <div class="row">
            <div class="service-col">
                <h3>Sundays 8.00am</h3>
                <p>
                    A quiet Anglican service using a modern form of the liturgy.
                    Normally we have three hymns. There are three readings from the Bible and the sermon is almost always biblically based.
                </p>
            </div>

            <div class="service-col">
                <h3>Sundays 10.00am</h3>
                <p>
                    This is a lively contemporary service structured around the modern liturgy.
                    There is plenty of singing with a mixture of modern songs and older hymns.
                    Children go out near the beginning of the service for Sunday Club and return for communion.
                    Emphasis is placed on the Bible from which there are always three readings and the sermon is almost always biblically based.
                </p>
            </div>

            <div class="service-col">
                <h3>Sundays 1pm Tongan Service</h3>
                <p>
                    This is a traditional Holy Communion Service conducted in a mixture of Tongan and English.
                </p>
            </div>
        </div>

        <h1>PDF Example</h1>
        <iframe src="pdftest/testnewsletter.pdf#toolbar=0" width="100%" height="500px">
            >
        </iframe>


    </section>


</section>

